apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: frontend-tls
spec:
  secretName: frontend-tls
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  dnsNames:
    - stage1.kreddyking.com

